

.schnippforms-form .schnippforms-fieldset .schnippforms-field-holder {
    border-top:0px;
}
.schnippforms-field-dsc {display:inline-block; padding-left:12px; font-size:12px; font-style:italic;}

/* LABEL STYLING
--------------------------------------------------------------------------------------------------*/

    .schnippforms-field-holder label {
        display: block; vertical-align:top; width:100%; padding-bottom:5px;
    }
    .schnippforms-field-holder {padding:12px 0px 12px 22px;}


/* Default fields
--------------------------------------------------------------------------------------------------*/

   .schnippforms-form input[type="text"],
   .schnippforms-form textarea { margin:0px; padding:10px; width:300px;}    
   
   
   .schnippforms-form textarea {height: 100px; width:535px;} 
   .schnippforms-form .schnf-small textarea {height:50px;}
   .schnippforms-form .schnf-medium textarea {height:200px;}
   .schnippforms-form .schnf-large textarea {height:400px;}
   
   
    
    .schnippforms-form input[type="text"]:focus,
    .schnippforms-form textarea:focus {outline:none;}

/* Errors
--------------------------------------------------------------------------------------------------*/
    .schnippforms-error  {background: #FAEFED; border-top: 1px solid #fff;}
    .schnippforms-error input,
    .schnippforms-error textarea {border-color: #DE5959 !important; }
    
    
    
    .schnippforms-errorlist { color:#DE5959; padding-top:12px; font-size:12px;}
    .schnippforms-errorlist li {list-style-type:none; font-style:italic;}

    label.schnippforms-required {font-weight:bold;}
    label.schnippforms-required:after {content: "*"}

    .flexydata-submit-row {padding:12px}
