
/* styles for the schnippform help text visitor */

.schnf-hpv {
    position:relative;
    background:#f5f5f5;
}
.schnf-hpv .schnippforms-form-holder {width:600px; float:left; background:#fbfbfb; border-right:1px solid #ddd;}


.schnf-hpv-display {width:200px; float:left;  padding:0px 22px; border-left:1px solid #fff; color:#646464; line-height:1.4;
    font-size:14px; position:relative; }

.schnf-hpv-display i {color:#79a003; font-size:20px;}

