/* dropdownselect
--------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------*/

.schnippforms-fieldholder.schnippforms-dropdownselectselect {}

.schnippforms-dropdownselect-select {position:relative; width:300px; display:inline-block;}
.schnippforms-dropdownselect-display {
    padding: 0 20px 0 10px; line-height: 32px; min-height:32px; position: relative;
    background: white;  cursor:pointer;
    border: 1px solid #ccc; border-radius:3px;

}
.schnippforms-dropdownselect-toggler {
    background: #eee;; border-left:1px solid #ddd;
    position:absolute; right: 1px; top:1px; cursor: pointer;
    font-size: 23px;
    height: 32px;
    width: 32px;
    text-align: center;
}

.schnippforms-dropdownselect-toggler:before {
   content: "▼";
}


.schnippforms-dropdownselect-options {
    max-height:300px; overflow-y:auto;
    position: absolute;
    background: #fbfbfb;;
    border: 1px solid #ccc;
    opacity: 0.95;
    left: 0;
    right: 0;
    top: 36px;
    padding: 5px;
    z-index: 100; display:none;
        -webkit-box-shadow: 2px 2px 20px 1px #999999;
    -moz-box-shadow: 2px 2px 20px 1px #999999;
    box-shadow: 2px 2px 20px 1px #999999;
}
.schnippforms-dropdownselect-options div:last-child {border:0px;}


.schnippforms-dropdownselect.active .schnippforms-dropdownselect-options {display:block;}
.schnippforms-dropdownselect.active .schnippforms-dropdownselect-toggler {background-position: center bottom;}
.schnippforms-dropdownselect.active .schnippforms-dropdownselect-display {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    background: #fbfbfb;
}

.schnippforms-dropdownselect-options div {
    line-height: 18px; display:block; padding: 6px 0 6px 0; cursor:pointer; 
    padding-left: 8px; color: #666; text-align: left; 
    border-bottom: 1px dashed #ddd;
    
}
.schnippforms-dropdownselect-options div:hover {
    background:#eee;
}
