

.schnippforms-inlines > label {font-size:13px;    display:inline-block; width:auto;;
    padding: 6px 6px 6px 0px;
    border-bottom: 0px;
}


.schnf-inlines-dialog {width:800px;}


/* Object listing
-------------------------------------------------------------_*/
    .schnippforms-inline-objects {margin-left:0em;}



    .schnippforms-inline-objects table {width:100%; margin-top:5px; }
    .schnippforms-inline-objects table tr th,
    .schnippforms-inline-objects table tr td {padding:12px 12px 12px 12px;  background:transparent;
        border:1px solid #ccc; text-align:left; font-size:12px}
    .schnippforms-inline-objects table tr td {  border-bottom:1px solid #ddd ; background:#f8f8f8;
        font-size: 13px;line-height: 1.4; }

    .schnippforms-inline-objects table tr th {}

    .schnippforms-inline-actions {width: 74px;}

    .schnippforms-inline-objects table tr td.schnippforms-inline-handle {width:10px; padding: 12px; border-right: 1px solid #ddd; background:#fff; color:#999;}
    .schnippforms-inline-handle:hover {background:#fbfbfb; cursor:move; color:#666; }
