
.schnippforms-fieldset {border-bottom:0px solid #ddd;}
.schnippforms-fieldset .schnippforms-fieldset-fields {border-bottom:1px solid #eee; }

.schnippforms-fieldset .schnippforms-label-container {padding:0px 0px 0px 14px; background:#eee;
    border-bottom:1px solid #ddd; border-top:1px solid #fff; border-right:1px solid #fff;
}

.schnippforms-fieldsets .schnippforms-fieldset:first-child .schnippforms-label-container {border-top:0px solid #ddd;}

.schnippforms-fieldset .schnippforms-label-container > label { margin:0px; cursor:pointer; width:100%; padding:14px 0px 14px 0px; font-size:13px; color:#5b80b2; position:relative;}
.schnippforms-fieldset .schnippforms-label-container:hover {background:#EDEDED; }
.schnippforms-fieldset .schnippforms-label-container:hover > label {text-decoration:underline;}
.schnippforms-fieldset .schnippforms-label-container:hover > label i {color:#9FBCE3}
.schnippforms-fieldset .schnippforms-label-container > label i {color:#ccc; position:absolute; right:12px; top:14px;}


.schnippforms-form-row.schnippforms-fields-horizontal {border-bottom:0px;}
.schnippforms-fields-horizontal .schnippforms-field-holder {display:inline-block; float:left; border-bottom:0px; }
.schnippforms-fields-horizontal .schnippforms-field-holder label {display:block; width:100%;float:none; }


.schnippforms-submit-row { padding:12px ; border-top:1px solid #ddd;
  background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffffff 38%, #eeeeee 99%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(38%,#ffffff), color-stop(99%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 38%,#eeeeee 99%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 38%,#eeeeee 99%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 38%,#eeeeee 99%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#ffffff 38%,#eeeeee 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
