
.schnippforms-fieldset.collapse {border-bottom:1px solid #ddd;}
.schnippforms-fieldset.collapse .schnippforms-fieldset-fields {border-bottom:1px solid #eee; border-top:1px solid #ddd;}

.schnippforms-fieldset.collapse .schnippforms-label-container {width:100%; background:#eee;}
.schnippforms-fieldset.collapse .schnippforms-label-container > label {padding:12px 0px 12px 12px; cursor:pointer;    color:#5b80b2}
.schnippforms-fieldset.collapse .schnippforms-label-container:hover {background:#f5f5f5;}
.schnippforms-fieldset.collapse .schnippforms-label-container > label:after {content: " ▼";}
.schnippforms-fieldset.collapse.collapsed .schnippforms-label-container > label:after {content: " ▲";}



.schnippforms-form-row.schnippforms-fields-horizontal {border-bottom:0px;}
.schnippforms-fields-horizontal .schnippforms-field-holder {display:inline-block; float:left; border-bottom:0px; }
.schnippforms-fields-horizontal .schnippforms-field-holder label {display:block; float:none; }
